.slider-container {
  /* position: relative */
}
.slider-image {
width: 100%;
}
.fa-chevron-right {
  position: absolute;
  top: 50%;
  right: 0%;
  font-size: 3rem;
  color: grey;
  
}
.fa-chevron-left {
  position: absolute;
  top: 50%;
  left: 0%;
  font-size: 3rem;
  color: grey;
}
